@model RosePark.Models.Habitacione

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Habitacione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NorHabitacion" class="control-label"></label>
                <input asp-for="NorHabitacion" class="form-control" />
                <span asp-validation-for="NorHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoHabitacion" class="control-label"></label>
                <input asp-for="EstadoHabitacion" class="form-control" />
                <span asp-validation-for="EstadoHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioHabitacion" class="control-label"></label>
                <input asp-for="PrecioHabitacion" class="form-control" />
                <span asp-validation-for="PrecioHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoHabitacion" class="control-label"></label>
                <select asp-for="IdTipoHabitacion" class ="form-control" asp-items="ViewBag.IdTipoHabitacion"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
