@model IEnumerable<Habitacione>

@{
  ViewData["Title"] = "Home Page";
  var paquetes = ViewData["Paquetes"] as List<RosePark.Models.Paquete>;
  var servicios = ViewData["Servicios"] as List<RosePark.Models.Servicio>;
  var habitaciones = ViewData["Habitaciones"] as List<RosePark.Models.Habitacione>;
}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/1.jpg" class="d-block w-100 imgCarousel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/2.jpg" class="d-block w-100 imgCarousel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/3.jpg" class="d-block w-100 imgCarousel" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>



  <section class="buscador container-fluid d-flex">
    <form asp-action="Search" asp-controller="Home" method="post"
      class="d-flex justify-content-evenly align-items-end formBuscador">
      <div class="row">
        <label for="checkinDate" class="font-weight-bold text-black">Check In</label>
        <input type="date" name="checkinDate" id="checkinDate" class="form-control" required>


      </div>
      <div class="row">
        <label for="checkoutDate" class="font-weight-bold text-black">Check Out</label>
        <input type="date" name="checkoutDate" id="checkoutDate" class="form-control" required>
      </div>
      <div class="row">
        <label for="numeroPersonas" class="font-weight-bold text-black">Número de Personas</label>
        <select name="numeroPersonas" id="numeroPersonas" class="form-control">
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btnBuscador">Buscar</button>
    </form>

  </section>



  <section class="descripcion container-fluid d-flex">
    <div class="d-flex justify-content-center align-items-center">
      <div class="">
        <h2 class="text-justify">Descubra Rose Park</h2><br>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ipsa enim dolore,
          aperiam necessitatibus
          unde iste deleniti nisi voluptatibus quasi, obcaecati odit tempora blanditiis accusamus veniam harum fugit
          fuga error.
          Voluptatem atque tempore optio consectetur perspiciatis ut, ullam eius cum deserunt velit fuga fugiat
          facere. Voluptatem non ipsa neque animi, mollitia quaerat, minima, enim soluta praesentium aliquam quidem
          suscipit obcaecati.</p>
      </div>
      <div class="">
        <img src="img/img_3.jpg" alt="" class="imgDescripcion" width="600">
      </div>
  </section>



  <div id="paqueteCarousel" class="carousel slide paquetes container-fluid">
    <h2 class="text-center">Nuestras habitaciones</h2>
    <div class="carousel-inner">
      @for (int i = 0; i < habitaciones.Count(); i += 3)
      {
        <div class="carousel-item @(i == 0 ? "active" : "")">
          <div class="row">
            @for (int j = i; j < i + 3 && j < habitaciones.Count(); j++)
            {
              var habitacion = habitaciones.ElementAt(j);
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="img/hero_1.jpg" class="card-img-top" alt="Imagen del Paquete">
                  <div class="card-body">
                    <h5 class="card-title">@habitacion.NorHabitacion</h5>
                    <p class="card-text">@habitacion.Descripcion</p>
                    <a href="#" class="btn btn-primary">Más detalles</a>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
    <a class="carousel-control-prev" href="#paqueteCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#paqueteCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/home.js"></script>

</body>

</html>