@model IEnumerable<RosePark.Models.Servicio>;

@{
    Layout = "_Layout";
}


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios - RosePark</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RosePark.styles.css" asp-append-version="true" />
</head>

<body>
    <section class="container">
        <h2 class="mb-5 text-center">Servicios No Gratuitos</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            @if (Model != null && Model.Any())
            {
                @foreach (var servicio in Model)
                {
                    <div class="col mb-4">
                        <div class="card">
                            <img src="@servicio.UrlIcono" class="card-img-top" alt="Icono del Servicio" />
                            <div class="card-body">
                                <h5 class="card-title">@servicio.NombreServicio</h5>
                                <p class="card-text">Precio: $@String.Format("{0:N0}", servicio.PrecioServicio)</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No hay servicios no gratuitos disponibles.</p>
            }
        </div>
    </section>

</body>

</html>
